:root {
    --dark: #252526;
    --darker-dark: #1e1e1e;
    --Ligth_main: #383434;
}

* {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    top: -60;
    height: 10vh;
    width: 100% !important;
    display: grid;
    grid-template-areas: 'lg blank na';
    grid-template-columns: 10vw 35vw 45vw;
    transition: top 0.5s;
    margin: auto;
    background-color: var(--Ligth_main);
}

nav {
    grid-area: na;
    width: 800px;
    height: 100%;
    margin: auto;
}

nav a {
    height: 100%;
    float: left;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15;
}

nav a:hover {
    background-color: white;
    color: black;
}

#TITLE {
    grid-area: lg;
    width: auto;
    height: 100%;
}

h2 {
    text-align: center;
}

a {
    width: 20%;
    height: 20%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 3vh;
    width: 100%;
    background-color: var(--Ligth_main);
}

#s_container {
    display: flex;
    flex-direction: column;
    height: 400vh;
    width: 100%;
    margin-bottom: 2.5vh;
    background-color: var(--dark);
}

.text {
    background-color: var(--darker-dark);
    margin: auto;
    padding: 5%;
}

.f_sidor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#sida1 {
    order: 1;
    background-image: url("../img/toilet_utopia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#s2txt {
    order: 1;
    width: 85%;
    height: 15%;
}

#img_s2 {
    order: 3;
    height: 70%;
    width: 80%;
    margin: auto;
    margin-bottom: 0px;
    display: flex;
}

#imgs2_1 {
    order: 1;
    height: auto;
    max-width: 50%;
}

#imgs2_2 {
    order: 2;
    height: auto;
    max-width: 50%;
}

#sida2 {
    order: 2;
}

#sida3 {
    order: 3;
    flex-direction: column;
}

#img_s3 {
    order: 1;
    height: 40%;
    width: 50%;
    background-image: url("../img/toilet_wc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Bimg_s3 {
    order: 3;
    height: 100%;
    width: 50%;
    background-image: url("../img/toilet_sign_wc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#art_s3 {
    order: 2;
    height: 30%;
    width: 40%;
}

#sida5 {
    order: 5;
    flex-direction: column;
}

#sida4 {
    order: 4;
}

#txt_s4 {
    order: 1;
    height: 30%;
    width: 40%;
    margin-top: 10%;
}

#img_s4 {
    order: 2;
    height: 100%;
    width: 50%;
    background-image: url("../img/toilet_ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (max-width:600px) {
    #s1title {
        width: 100%;
        height: 10%;
    }
    #s1txt {
        width: 90%;
        height: 20%;
        margin: auto;
    }
    #img_s1 {
        width: 90%;
    }
    #imgs1_1 {
        max-width: 100%;
    }
    #imgs1_2 {
        display: none;
    }
    #img_s3 {
        display: none;
    }
    #art_s3 {
        margin-top: 10%;
    }
    #Bimg_s3 {
        width: 40%;
        background-position: center;
    }
    #img_s4 {
        width: 40%;
    }
}